body  {
		margin: 0;
		padding: 0;
		background-color: #D8D8D8;		
  }

.pagina{
	width: 600px;
	height: auto;
	padding: 0px;
    background-color: white;
	margin: auto;
    /*border: 1px solid;*/
    border-left-color: #848484;
    border-right-color: #848484; 
}

p  {
	text-align: center;
   	font-family: "Times New Roman", Times, serif;
   	margin-right: 10px;
   	margin-left: 10px;
   	margin-top: 20px;
	margin: 30px;
	color: #3D3D3D;
}

h1{
	text-align: center;
	text-transform: uppercase;
    color: #1D1D1D;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px
		margin-top: 20px;

}

.footer {
    padding: 10px;
    height: 105px;
    width: 100%;
    color: white;
    background-color: #093C04;    
    font-family: arial;
    font-size: 15px;
    text-align: center;
    margin: 0px auto;
}

.header{
	background-color: #D89313;
	height: 180px;
    width: 100%;
    padding: 10px;
    margin: 0px auto;
    font-family: arial;
    font-size: 150px;
    color: white;
    text-align: center;
}

.nav {
    height: 30px;
    width: 800px;
    margin: 9px auto 0px;
    position: center;
      
}

ul {
    list-style-type: none;    
    width: 775px;
    height: 30px;
    margin-top: 0px;    
    float: right;
    color: white;
}

 li {
	padding: 5px;
    margin-left: 35px;
    float: left;
	text-align: center;
    font-family: arial;
    font-size: 14px;
    height: 17px; 
    border-bottom: 1px solid #555;
          
 }

a:hover {
    background-color: #BDBDBD;
    color: green;  
    border-left: 6px solid red;
}
   
 a {
    text-decoration: none;
    padding: 9px 8px;
    /*color: #494C4A;*/
    background-color: #494;
}

form {
	margin: 0px auto;
}

fieldset {
	margin: 30px;

}